{% extends 'frontoffice/base.html.twig' %}
{% block title %} ART {% endblock %}

{% block body %}
<div class="container">
  <br>

    
    <div class="row">


      <div class="col-md-8 offset-md-4">
          <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="{{ asset('uploads/images/' ~ listing.image) }}" alt="Card image cap">
          <div class="card-body">
          <h4 class="card-title">{{ listing.getName() }}</h4>
          <h5 class="card-title">{{ listing.getCategory().getName() }}</h5><br>
          <p class="card-text">${{ listing.getPrice() }}</p>
          <p class="card-text">{{ listing.getSize() }}</p>
          </div>
      </div>
      </div>
      
      </div>
    </div>
  <br>

{% endblock %}
